<b>0   Computer science, information & general works (1/84)</b>

&nbsp;<u>00  Computer science, information, general works (0/7)</u>
&nbsp;&nbsp;000 Computer science, knowledge and general works
&nbsp;&nbsp;001 Knowledge
&nbsp;&nbsp;002 The book (i.e. Meta writings about books)
&nbsp;&nbsp;003 Systems
&nbsp;&nbsp;004 Data processing and computer science
&nbsp;&nbsp;005 Computer programming, programs and data
&nbsp;&nbsp;006 Special computer methods

&nbsp;<u>01  Bibliography (0/9)</u>
&nbsp;&nbsp;010 Bibliography
&nbsp;&nbsp;011 Bibliographies
&nbsp;&nbsp;012 Bibliographies and catalogs of individuals
&nbsp;&nbsp;014 Bibliographies of anonymous and pseudonymous works
&nbsp;&nbsp;015 Bibliographies and catalogs of works from specific places
&nbsp;&nbsp;016 Bibliographies and catalogs of works on specific subjects or in specific disciplines
&nbsp;&nbsp;017 General subject catalogs
&nbsp;&nbsp;018 Catalogs arranged by author, date, etc.
&nbsp;&nbsp;019 Dictionary catalogs

&nbsp;<u>02  Library and information sciences (0/8)</u>
&nbsp;&nbsp;020 Library and information sciences
&nbsp;&nbsp;021 Relationships of libraries, archives, information centers
&nbsp;&nbsp;022 Administration of physical plant
&nbsp;&nbsp;023 Personnel management (Human resource management)
&nbsp;&nbsp;025 Operations of libraries, archives, information centers
&nbsp;&nbsp;026 Libraries, archives, information centers devoted to specific subjects and disciplines
&nbsp;&nbsp;027 General libraries, archives, information centers
&nbsp;&nbsp;028 Reading and use of other information media

&nbsp;<u>03  Encyclopedias & books of facts (0/10)</u>
&nbsp;&nbsp;030 General encyclopedic works
&nbsp;&nbsp;031 General encyclopedic works in American English
&nbsp;&nbsp;032 General encyclopedic works in English
&nbsp;&nbsp;033 General encyclopedic works in other Germanic languages
&nbsp;&nbsp;034 General encyclopedic works in French, Occitan and Catalan
&nbsp;&nbsp;035 General encyclopedic works in Italian, Sardinian, Dalmatian, Romanian, or Rhaeto-Romanic languages
&nbsp;&nbsp;036 General encyclopedic works in Spanish and Portuguese
&nbsp;&nbsp;037 General encyclopedic works in Slavic languages
&nbsp;&nbsp;038 General encyclopedic works in Scandinavian languages
&nbsp;&nbsp;039 General encyclopedic works in Italic, Hellenic, or other languages

&nbsp;<u>05  Magazines, journals and serials (0/10)</u>
&nbsp;&nbsp;050 General serial publications
&nbsp;&nbsp;051 General serial publications in American English
&nbsp;&nbsp;052 General serial publications in English
&nbsp;&nbsp;053 General serial publications in other Germanic languages
&nbsp;&nbsp;054 General serial publications in French, Occitan, or Catalan
&nbsp;&nbsp;055 General serial publications in Italian, Sardinian, Dalmatian, Romanian, or Rhaeto-Romanic languages
&nbsp;&nbsp;056 General serial publications in Spanish and Portuguese
&nbsp;&nbsp;057 General serial publications in Slavic languages
&nbsp;&nbsp;058 General serial publications in Scandinavian languages
&nbsp;&nbsp;059 General serial publications in Italic, Hellenic, or other languages

&nbsp;<u>06  Associations, organizations and museums (0/10)</u>
&nbsp;&nbsp;060 General organizations and museology
&nbsp;&nbsp;061 General organizations in North America
&nbsp;&nbsp;062 General organizations in British Isles; in England
&nbsp;&nbsp;063 General organizations in central Europe; in Germany
&nbsp;&nbsp;064 General organizations in France and Monaco
&nbsp;&nbsp;065 General organizations in Italy and adjacent territories
&nbsp;&nbsp;066 General organizations in Iberian Peninsula and adjacent islands; in Spain
&nbsp;&nbsp;067 General organizations in eastern Europe; in Russia
&nbsp;&nbsp;068 General organizations in other geographic areas
&nbsp;&nbsp;069 Museology (Museum science)

&nbsp;<u>07  News media, journalism and publishing (1/10)</u>
&nbsp;&nbsp;070 Documentary media, educational media, news media; journalism; publishing -- <i>[Heroes]</i> by John Pilger
&nbsp;&nbsp;071 Journalism and newspapers in North America
&nbsp;&nbsp;072 Journalism and newspapers in British Isles; in England
&nbsp;&nbsp;073 Journalism and newspapers in central Europe; in Germany
&nbsp;&nbsp;074 Journalism and newspapers in France and Monaco; in France
&nbsp;&nbsp;075 Journalism and newspapers in Italy and adjacent islands; in Italy
&nbsp;&nbsp;076 Journalism and newspapers in Iberian Peninsula and adjacent islands; in Spain
&nbsp;&nbsp;077 Journalism and newspapers in eastern Europe; in Russia
&nbsp;&nbsp;078 Journalism and newspapers in Scandinavia
&nbsp;&nbsp;079 Journalism and newspapers in other geographic areas

&nbsp;<u>08  General collections (0/10)</u>
&nbsp;&nbsp;080 General collections
&nbsp;&nbsp;081 General collections in American English
&nbsp;&nbsp;082 General collections in English
&nbsp;&nbsp;083 General collections in other Germanic languages
&nbsp;&nbsp;084 General collections in French, Occitan, or Catalan
&nbsp;&nbsp;085 General collections in Italian, Sardinian, Dalmatian, Romanian, or Rhaeto-Romanic languages
&nbsp;&nbsp;086 General collections in Spanish and Portuguese
&nbsp;&nbsp;087 General collections in Slavic languages
&nbsp;&nbsp;088 General collections in Scandinavian languages
&nbsp;&nbsp;089 General collections in Italic, Hellenic, or other languages

&nbsp;<u>09  Manuscripts & rare books (0/10)</u>
&nbsp;&nbsp;090 Manuscripts, rare books, or other rare printed materials
&nbsp;&nbsp;091 Manuscripts
&nbsp;&nbsp;092 Block books
&nbsp;&nbsp;093 Incunabula
&nbsp;&nbsp;094 Printed books
&nbsp;&nbsp;095 Books notable for bindings
&nbsp;&nbsp;096 Books notable for illustrations and materials
&nbsp;&nbsp;097 Books notable for ownership or origin
&nbsp;&nbsp;098 Prohibited works, forgeries and hoaxes
&nbsp;&nbsp;099 Books notable for format

<b>1   Philosophy and psychology (5/89)</b>

&nbsp;<u>10  Philosophy (1/9)</u>
&nbsp;&nbsp;100 Philosophy and psychology -- <i>[History of Western Philosophy]</i> by Bertrand Russell
&nbsp;&nbsp;101 Theory of philosophy
&nbsp;&nbsp;102 Miscellany of philosophy
&nbsp;&nbsp;103 Dictionaries and encyclopedias of philosophy
&nbsp;&nbsp;105 Serial publications of philosophy
&nbsp;&nbsp;106 Organizations and management of philosophy
&nbsp;&nbsp;107 Education, research, and related topics of philosophy
&nbsp;&nbsp;108 Kinds of persons treatment of philosophy
&nbsp;&nbsp;109 Historical and collected persons treatment of philosophy

&nbsp;<u>11  Metaphysics (0/9)</u>
&nbsp;&nbsp;110 Metaphysics
&nbsp;&nbsp;111 Ontology
&nbsp;&nbsp;113 Cosmology (Philosophy of nature)
&nbsp;&nbsp;114 Space
&nbsp;&nbsp;115 Time
&nbsp;&nbsp;116 Change
&nbsp;&nbsp;117 Structure
&nbsp;&nbsp;118 Force and energy
&nbsp;&nbsp;119 Number and quantity

&nbsp;<u>12  Epistemology (0/9)</u>
&nbsp;&nbsp;120 Epistemology, causation, and humankind
&nbsp;&nbsp;121 Epistemology
&nbsp;&nbsp;122 Causation
&nbsp;&nbsp;123 Determinism and indeterminism
&nbsp;&nbsp;124 Teleology
&nbsp;&nbsp;126 The self
&nbsp;&nbsp;127 The unconscious and the subconscious
&nbsp;&nbsp;128 Humankind
&nbsp;&nbsp;129 Origin and destiny of individual souls

&nbsp;<u>13  Parapsychology and occultism (0/7)</u>
&nbsp;&nbsp;130 Parapsychology and occultism
&nbsp;&nbsp;131 Parapsychological and occult methods
&nbsp;&nbsp;133 Specific topics in parapsychology and occultism
&nbsp;&nbsp;135 Dreams and mysteries
&nbsp;&nbsp;137 Divinatory graphology
&nbsp;&nbsp;138 Physiognomy
&nbsp;&nbsp;139 Phrenology

&nbsp;<u>14  Philosophical schools of thought (0/10)</u>
&nbsp;&nbsp;140 Specific philosophical schools
&nbsp;&nbsp;141 Idealism and related systems
&nbsp;&nbsp;142 Critical philosophy
&nbsp;&nbsp;143 Bergsonism and intuitionism
&nbsp;&nbsp;144 Humanism and related systems
&nbsp;&nbsp;145 Sensationalism
&nbsp;&nbsp;146 Naturalism and related systems
&nbsp;&nbsp;147 Pantheism and related systems
&nbsp;&nbsp;148 Liberalism, eclecticism, and traditionalism
&nbsp;&nbsp;149 Other philosophical systems

&nbsp;<u>15  Psychology (3/7)</u>
&nbsp;&nbsp;150 Psychology
&nbsp;&nbsp;152 Perception, movement, emotions, and drives -- <i>[The Blue Day]</i> Book
&nbsp;&nbsp;153 Mental processes and intelligence -- <b>[Thinking, Fast and Slow]</b> by Daniel Kahneman (added 28 Apr 2013)
&nbsp;&nbsp;154 Subconscious and altered states
&nbsp;&nbsp;155 Differential and developmental psychology -- <i>[Still Procrastinating]</i> by Joseph Ferrari
&nbsp;&nbsp;156 Comparative psychology
&nbsp;&nbsp;158 Applied psychology

&nbsp;<u>16  Logic (0/8)</u>
&nbsp;&nbsp;160 Logic
&nbsp;&nbsp;161 Induction
&nbsp;&nbsp;162 Deduction
&nbsp;&nbsp;165 Fallacies and sources of error
&nbsp;&nbsp;166 Syllogisms
&nbsp;&nbsp;167 Hypotheses
&nbsp;&nbsp;168 Argument and persuasion
&nbsp;&nbsp;169 Analogy

&nbsp;<u>17  Ethics (Moral philosophy) (0/10)</u>
&nbsp;&nbsp;170 Ethics
&nbsp;&nbsp;171 Ethical systems
&nbsp;&nbsp;172 Political ethics
&nbsp;&nbsp;173 Ethics of family relationships
&nbsp;&nbsp;174 Occupational ethics
&nbsp;&nbsp;175 Ethics of recreation and leisure
&nbsp;&nbsp;176 Ethics of sex and reproduction
&nbsp;&nbsp;177 Ethics of social relations
&nbsp;&nbsp;178 Ethics of consumption
&nbsp;&nbsp;179 Other ethical norms

&nbsp;<u>18  Ancient, medieval, and Eastern philosophy (0/10)</u>
&nbsp;&nbsp;180 Ancient, medieval, and Eastern philosophy
&nbsp;&nbsp;181 Eastern philosophy
&nbsp;&nbsp;182 Pre-Socratic Greek philosophies
&nbsp;&nbsp;183 Socratic and related philosophies
&nbsp;&nbsp;184 Platonic philosophy
&nbsp;&nbsp;185 Aristotelian philosophy
&nbsp;&nbsp;186 Skeptic and Neoplatonic philosophies
&nbsp;&nbsp;187 Epicurean philosophy
&nbsp;&nbsp;188 Stoic philosophy
&nbsp;&nbsp;189 Medieval Western philosophy

&nbsp;<u>19  Modern Western philosophy (19th-century, 20th-century) (1/10)</u>
&nbsp;&nbsp;190 Modern Western philosophy
&nbsp;&nbsp;191 Modern Western philosophy of the United States and Canada
&nbsp;&nbsp;192 Modern Western philosophy of the British Isles -- <i>[Confessions of a Philosopher]</i> by Bryan Magee
&nbsp;&nbsp;193 Modern Western philosophy of Germany and Austria
&nbsp;&nbsp;194 Modern Western philosophy of France
&nbsp;&nbsp;195 Modern Western philosophy of Italy
&nbsp;&nbsp;196 Modern Western philosophy of Spain and Portugal
&nbsp;&nbsp;197 Modern Western philosophy of the former Soviet Union
&nbsp;&nbsp;198 Modern Western philosophy of Scandinavia
&nbsp;&nbsp;199 Modern Western philosophy in other geographic areas

<b>2   Religion (2/88)</b>

&nbsp;<u>20  Religion (0/10)</u>
&nbsp;&nbsp;200 Religion
&nbsp;&nbsp;201 Religious mythology, general classes of religion, interreligious relations and attitudes, social theology
&nbsp;&nbsp;202 Doctrines
&nbsp;&nbsp;203 Public worship and other practices
&nbsp;&nbsp;204 Religious experience, life, practice
&nbsp;&nbsp;205 Religious ethics
&nbsp;&nbsp;206 Leaders and organization
&nbsp;&nbsp;207 Missions and religious education
&nbsp;&nbsp;208 Sources
&nbsp;&nbsp;209 Sects and reform movements

&nbsp;<u>21  Natural theology (0/6)</u>
&nbsp;&nbsp;211 Concepts of God
&nbsp;&nbsp;212 Existence, attributes of God
&nbsp;&nbsp;213 Creation
&nbsp;&nbsp;214 Theodicy
&nbsp;&nbsp;215 Science & religion
&nbsp;&nbsp;218 Humankind

&nbsp;<u>22  Bible (1/10)</u>
&nbsp;&nbsp;220 The Bible (General) -- <i>[Good News Bible]</i>
&nbsp;&nbsp;221 Old Testament
&nbsp;&nbsp;222 Historical books of Old Testament
&nbsp;&nbsp;223 Poetic books of Old Testament
&nbsp;&nbsp;224 Prophetic books of Old Testament
&nbsp;&nbsp;225 New Testament
&nbsp;&nbsp;226 Gospels & Acts
&nbsp;&nbsp;227 Epistles
&nbsp;&nbsp;228 Revelation (Apocalypse)
&nbsp;&nbsp;229 Apocrypha & pseudepigrapha

&nbsp;<u>23  Christian theology (0/9)</u>
&nbsp;&nbsp;230 Christianity and Christian theology
&nbsp;&nbsp;231 God
&nbsp;&nbsp;232 Jesus Christ & his family
&nbsp;&nbsp;233 Humankind
&nbsp;&nbsp;234 Salvation (Soteriology) & grace
&nbsp;&nbsp;235 Spiritual beings
&nbsp;&nbsp;236 Eschatology
&nbsp;&nbsp;238 Creeds & catechisms
&nbsp;&nbsp;239 Apologetics & polemics

&nbsp;<u>24  Christian moral & devotional theology (0/8)</u>
&nbsp;&nbsp;240 Christian moral and devotional theology
&nbsp;&nbsp;241 Moral theology
&nbsp;&nbsp;242 Devotional literature
&nbsp;&nbsp;243 Evangelistic writings for individuals
&nbsp;&nbsp;246 Use of art in Christianity
&nbsp;&nbsp;247 Church furnishings & articles
&nbsp;&nbsp;248 Christian experience, practice, life
&nbsp;&nbsp;249 Christian observances in family life

&nbsp;<u>25  Christian orders & local church (0/7)</u>
&nbsp;&nbsp;250 Local Christian church and Christian religious orders 
&nbsp;&nbsp;251 Preaching (Homiletics)
&nbsp;&nbsp;252 Texts of sermons
&nbsp;&nbsp;253 Pastoral office (Pastoral theology)
&nbsp;&nbsp;254 Parish government & administration
&nbsp;&nbsp;255 Religious congregations & orders
&nbsp;&nbsp;259 Activities of the local church

&nbsp;<u>26  Christian social theology (0/10)</u>
&nbsp;&nbsp;260 Christian social and ecclesiastical theory 
&nbsp;&nbsp;261 Social theology
&nbsp;&nbsp;262 Ecclesiology
&nbsp;&nbsp;263 Times, places of religious observance
&nbsp;&nbsp;264 Public worship
&nbsp;&nbsp;265 Sacraments, other rites & acts
&nbsp;&nbsp;266 Missions
&nbsp;&nbsp;267 Associations for religious work
&nbsp;&nbsp;268 Religious education
&nbsp;&nbsp;269 Spiritual renewal

&nbsp;<u>27  Christian church history (1/10)</u>
&nbsp;&nbsp;270 Church history -- <i>[The Reformation]</i> by Owen Chadwick
&nbsp;&nbsp;271 Religious orders in church history
&nbsp;&nbsp;272 Persecutions in church history
&nbsp;&nbsp;273 Heresies in church history
&nbsp;&nbsp;274 Christian church in Europe
&nbsp;&nbsp;275 Christian church in Asia
&nbsp;&nbsp;276 Christian church in Africa
&nbsp;&nbsp;277 Christian church in North America
&nbsp;&nbsp;278 Christian church in South America
&nbsp;&nbsp;279 Christian church in other areas

&nbsp;<u>28  Christian denominations & sects (0/9)</u>
&nbsp;&nbsp;280 Denominations and sect of Christian church 
&nbsp;&nbsp;281 Early church & Eastern churches
&nbsp;&nbsp;282 Roman Catholic Church
&nbsp;&nbsp;283 Anglican churches
&nbsp;&nbsp;284 Protestants of Continental origin
&nbsp;&nbsp;285 Presbyterian, Reformed, Congregational
&nbsp;&nbsp;286 Baptist, Disciples of Christ, Adventist
&nbsp;&nbsp;287 Methodist & related churches
&nbsp;&nbsp;289 Other denominations & sects

&nbsp;<u>29  Other & comparative religions (0/9)</u>
&nbsp;&nbsp;290 Other religions 
&nbsp;&nbsp;291 Comparative religion
&nbsp;&nbsp;292 Classical (Greek & Roman) religion
&nbsp;&nbsp;293 Germanic religion
&nbsp;&nbsp;294 Religions of Indian origin
&nbsp;&nbsp;295 Zoroastrianism (Mazdaism, Parseeism)
&nbsp;&nbsp;296 Judaism
&nbsp;&nbsp;297 Islam, Babism & Baha'i Faith
&nbsp;&nbsp;299 Other religions

<b>3   Social sciences (17/90)</b>

&nbsp;<u>30  Social sciences, sociology & anthropology (2/8)</u>
&nbsp;&nbsp;300 Social sciences
&nbsp;&nbsp;301 Sociology & anthropology
&nbsp;&nbsp;302 Social interaction
&nbsp;&nbsp;303 Social processes
&nbsp;&nbsp;304 Factors affecting social behavior -- <i>[Whole Earth Discipline]</i> by Stewart Brand
&nbsp;&nbsp;305 Social groups
&nbsp;&nbsp;306 Culture & institutions -- <i>[A Short History of Medieval Philosophy]</i> by Julius Weinberg
&nbsp;&nbsp;307 Communities

&nbsp;<u>31  General statistics (0/7)</u>
&nbsp;&nbsp;310 General collections of statistics
&nbsp;&nbsp;314 General statistics Of Europe
&nbsp;&nbsp;315 General statistics Of Asia
&nbsp;&nbsp;316 General statistics Of Africa
&nbsp;&nbsp;317 General statistics Of North America
&nbsp;&nbsp;318 General statistics Of South America
&nbsp;&nbsp;319 General statistics Of other parts of the world

&nbsp;<u>32  Political science (2/9)</u>
&nbsp;&nbsp;320 Political science (Politics and government) -- <i>[Sketches from a life]</i> by George Kennan
&nbsp;&nbsp;321 Systems of governments & states
&nbsp;&nbsp;322 Relation of state to organized groups
&nbsp;&nbsp;323 Civil & political rights
&nbsp;&nbsp;324 The political process
&nbsp;&nbsp;325 International migration & colonization
&nbsp;&nbsp;326 Slavery & emancipation
&nbsp;&nbsp;327 International relations -- <i>[Memoirs: 1925-1950]</i> by George Kennan
&nbsp;&nbsp;328 The legislative process

&nbsp;<u>33  Economics (5/10)</u>
&nbsp;&nbsp;330 Economics -- <i>[Whoops!]</i> by John Lanchester
&nbsp;&nbsp;331 Labor economics -- <i>[The Making of the English Working Class]</i> by Edward Thompson
&nbsp;&nbsp;332 Financial economics -- <i>[The Ascent of Money]</i> by Niall Ferguson
&nbsp;&nbsp;333 Land economics -- <i>[On the margins of the good earth]</i> by D. W. Meinig
&nbsp;&nbsp;334 Cooperatives
&nbsp;&nbsp;335 Socialism & related systems
&nbsp;&nbsp;336 Public finance
&nbsp;&nbsp;337 International economics
&nbsp;&nbsp;338 Production -- <i>[No Logo]</i> by Naomi Klein
&nbsp;&nbsp;339 Macroeconomics & related topics

&nbsp;<u>34  Law (1/10)</u>
&nbsp;&nbsp;340 Law
&nbsp;&nbsp;341 International law
&nbsp;&nbsp;342 Constitutional & administrative law
&nbsp;&nbsp;343 Military, tax, trade, industrial law
&nbsp;&nbsp;344 Social, labor, welfare, & related law
&nbsp;&nbsp;345 Criminal law -- <i>[Return of Martin Guerre]</i> by Natalie Zemon Davis
&nbsp;&nbsp;346 Private law
&nbsp;&nbsp;347 Civil procedure & courts
&nbsp;&nbsp;348 Law (Statutes), regulations, cases
&nbsp;&nbsp;349 Law of specific jurisdictions & areas

&nbsp;<u>35  Public administration (1/10)</u>
&nbsp;&nbsp;350 Public administration and military science
&nbsp;&nbsp;351 Of central governments
&nbsp;&nbsp;352 Of local governments
&nbsp;&nbsp;353 Of U.S. federal & state governments
&nbsp;&nbsp;354 Of specific central governments
&nbsp;&nbsp;355 Military science
&nbsp;&nbsp;356 Foot forces & warfare
&nbsp;&nbsp;357 Mounted forces & warfare
&nbsp;&nbsp;358 Other specialized forces & services
&nbsp;&nbsp;359 Sea (Naval) forces & warfare -- <i>[The Bounty]</i> by Richard Hough

&nbsp;<u>36  Social services; association (3/10)</u>
&nbsp;&nbsp;360 Social problems and services; associations
&nbsp;&nbsp;361 General social problems
&nbsp;&nbsp;362 Social welfare problems & services -- <i>[Beyond Love]</i> by Dominique Lapierre
&nbsp;&nbsp;363 Other social problems & services -- <i>[Five Past Midnight]</i> by Dominique Lapierre
&nbsp;&nbsp;364 Criminology
&nbsp;&nbsp;365 Penal & related institutions -- <i>[Papillon]</i> by Henri Charriere
&nbsp;&nbsp;366 Association
&nbsp;&nbsp;367 General clubs
&nbsp;&nbsp;368 Insurance
&nbsp;&nbsp;369 Miscellaneous kinds of associations

&nbsp;<u>37  Education (0/8)</u>
&nbsp;&nbsp;370 Education
&nbsp;&nbsp;371 School management; special education
&nbsp;&nbsp;372 Elementary education
&nbsp;&nbsp;373 Secondary education
&nbsp;&nbsp;374 Adult education
&nbsp;&nbsp;375 Curriculums
&nbsp;&nbsp;378 Higher education
&nbsp;&nbsp;379 Government regulation, control, support

&nbsp;<u>38  Commerce, communications, transport  (1/10)</u>
&nbsp;&nbsp;380 Commerce, communications, and transportation
&nbsp;&nbsp;381 Internal commerce (Domestic trade)
&nbsp;&nbsp;382 International commerce (Foreign trade)
&nbsp;&nbsp;383 Postal communication
&nbsp;&nbsp;384 Communications; Telecommunication
&nbsp;&nbsp;385 Railroad transportation
&nbsp;&nbsp;386 Inland waterway & ferry transportation
&nbsp;&nbsp;387 Water, air, space transportation -- <i>[Supership]</i> by Noel Mostert
&nbsp;&nbsp;388 Transportation; Ground transportation
&nbsp;&nbsp;389 Metrology & standardization

&nbsp;<u>39  Customs, etiquette, folklore (2/8)</u>
&nbsp;&nbsp;390 Customs, etiquette, folklore
&nbsp;&nbsp;391 Costume & personal appearance
&nbsp;&nbsp;392 Customs of life cycle & domestic life -- <i>[Blokes and Sheds]</i> by Mark Thomson
&nbsp;&nbsp;393 Death customs
&nbsp;&nbsp;394 General customs
&nbsp;&nbsp;395 Etiquette (Manners)
&nbsp;&nbsp;398 Folklore -- <i>[First Sunrise]</i> by Ainslie Roberts
&nbsp;&nbsp;399 Customs of war & diplomacy

<b>4   Language (2/85)</b>

&nbsp;<u>40  Language (0/10)</u>
&nbsp;&nbsp;400 Language
&nbsp;&nbsp;401 Philosophy & theory
&nbsp;&nbsp;402 Miscellany
&nbsp;&nbsp;403 Dictionaries & encyclopedias
&nbsp;&nbsp;404 Special topics
&nbsp;&nbsp;405 Serial publications
&nbsp;&nbsp;406 Organizations & management
&nbsp;&nbsp;407 Education, research, related topics
&nbsp;&nbsp;408 With respect to kinds of persons
&nbsp;&nbsp;409 Geographical & persons treatment

&nbsp;<u>41  Linguistics (0/9)</u>
&nbsp;&nbsp;410 Linguistics
&nbsp;&nbsp;411 Writing systems
&nbsp;&nbsp;412 Etymology
&nbsp;&nbsp;413 Dictionaries
&nbsp;&nbsp;414 Phonology
&nbsp;&nbsp;415 Structural systems (Grammar)
&nbsp;&nbsp;417 Dialectology & historical linguistics
&nbsp;&nbsp;418 Standard usage; Applied linguistics
&nbsp;&nbsp;419 Verbal language not spoken or written

&nbsp;<u>42  English & Old English (2/8)</u>
&nbsp;&nbsp;420 English & Old English
&nbsp;&nbsp;421 English writing system & phonology
&nbsp;&nbsp;422 English etymology
&nbsp;&nbsp;423 English dictionaries
&nbsp;&nbsp;425 English grammar
&nbsp;&nbsp;427 English language variations -- <i>[Death Sentence : the decay of public language]</i> by Don Watson
&nbsp;&nbsp;428 Standard English usage -- <i>[Eats, Shoots and Leaves]</i> by Lynne Truss
&nbsp;&nbsp;429 Old English (Anglo-Saxon)

&nbsp;<u>43  Germanic languages; German (0/8)</u>
&nbsp;&nbsp;430 Germanic languages; German
&nbsp;&nbsp;431 German writing system & phonology
&nbsp;&nbsp;432 German etymology
&nbsp;&nbsp;433 German dictionaries
&nbsp;&nbsp;435 German grammar
&nbsp;&nbsp;437 German language variations
&nbsp;&nbsp;438 Standard German usage
&nbsp;&nbsp;439 Other Germanic languages

&nbsp;<u>44  Romance languages; French (0/8)</u>
&nbsp;&nbsp;440 Romance languages; French
&nbsp;&nbsp;441 French writing system & phonology
&nbsp;&nbsp;442 French etymology
&nbsp;&nbsp;443 French dictionaries
&nbsp;&nbsp;445 French grammar
&nbsp;&nbsp;447 French language variations
&nbsp;&nbsp;448 Standard French usage
&nbsp;&nbsp;449 Provençal & Catalan

&nbsp;<u>45  Italian, Romanian, Rhaeto-Romanic (0/8)</u>
&nbsp;&nbsp;450 Italian, Romanian, Rhaeto-Romanic
&nbsp;&nbsp;451 Italian writing system & phonology
&nbsp;&nbsp;452 Italian etymology
&nbsp;&nbsp;453 Italian dictionaries
&nbsp;&nbsp;455 Italian grammar
&nbsp;&nbsp;457 Italian language variations
&nbsp;&nbsp;458 Standard Italian usage
&nbsp;&nbsp;459 Romanian & Rhaeto-Romanic

&nbsp;<u>46  Spanish & Portuguese languages (0/8)</u>
&nbsp;&nbsp;460 Spanish & Portuguese languages
&nbsp;&nbsp;461 Spanish writing system & phonology
&nbsp;&nbsp;462 Spanish etymology
&nbsp;&nbsp;463 Spanish dictionaries
&nbsp;&nbsp;465 Spanish grammar
&nbsp;&nbsp;467 Spanish language variations
&nbsp;&nbsp;468 Standard Spanish usage
&nbsp;&nbsp;469 Portuguese

&nbsp;<u>47  Italic languages; Latin (0/8)</u>
&nbsp;&nbsp;470 Italic languages; Latin
&nbsp;&nbsp;471 Classical Latin writing & phonology
&nbsp;&nbsp;472 Classical Latin etymology & phonology
&nbsp;&nbsp;473 Classical Latin dictionaries
&nbsp;&nbsp;475 Classical Latin grammar
&nbsp;&nbsp;477 Old, Postclassical, Vulgar Latin
&nbsp;&nbsp;478 Classical Latin usage
&nbsp;&nbsp;479 Other Italic languages

&nbsp;<u>48  Hellenic languages; Classical Greek (0/8)</u>
&nbsp;&nbsp;480 Hellenic languages; Classical Greek
&nbsp;&nbsp;481 Classical Greek writing & phonology
&nbsp;&nbsp;482 Classical Greek etymology
&nbsp;&nbsp;483 Classical Greek dictionaries
&nbsp;&nbsp;485 Classical Greek grammar
&nbsp;&nbsp;487 Preclassical & postclassical Greek
&nbsp;&nbsp;488 Classical Greek usage
&nbsp;&nbsp;489 Other Hellenic languages

&nbsp;<u>49  Other languages (0/10)</u>
&nbsp;&nbsp;490 Other languages
&nbsp;&nbsp;491 East Indo-European & Celtic languages
&nbsp;&nbsp;492 Afro-Asiatic languages; Semitic
&nbsp;&nbsp;493 Non-Semitic Afro-Asiatic languages
&nbsp;&nbsp;494 Ural - Altaic, Paleosiberian, Dravidian
&nbsp;&nbsp;495 Languages of East & Southeast Asia
&nbsp;&nbsp;496 African languages
&nbsp;&nbsp;497 North American native languages
&nbsp;&nbsp;498 South American native languages
&nbsp;&nbsp;499 Miscellaneous languages

<b>5   Science (25/96)</b>

&nbsp;<u>50  Sciences (2/9)</u>
&nbsp;&nbsp;500 Natural sciences & mathematics -- <i>[Natural history of the Adelaide region]</i> by C. R. Twidale
&nbsp;&nbsp;501 Philosophy & theory
&nbsp;&nbsp;502 Miscellany
&nbsp;&nbsp;503 Dictionaries & encyclopedias
&nbsp;&nbsp;505 Serial publications
&nbsp;&nbsp;506 Organizations & management
&nbsp;&nbsp;507 Education, research, related topics
&nbsp;&nbsp;508 Natural history
&nbsp;&nbsp;509 Historical, geographic, persons treatment -- [Science and Civilisation in China : Volume 1 : Introductory orientations] by Joseph Needham (1 May 2013)

&nbsp;<u>51  Mathematics (4/9)</u>
&nbsp;&nbsp;510 General works on mathematics -- <i>[100 Essential Things You Didn't Know You Didn't Know]</i>
&nbsp;&nbsp;511 General principles
&nbsp;&nbsp;512 Algebra & number theory -- <i>[Elementary Linear Algebra]</i>
&nbsp;&nbsp;513 Arithmetic
&nbsp;&nbsp;514 Topology
&nbsp;&nbsp;515 Analysis -- <i>[Div, Grad, Curl And All That]</i>
&nbsp;&nbsp;516 Geometry
&nbsp;&nbsp;518 Numerical analysis
&nbsp;&nbsp;519 Probabilities & applied mathematics -- <i>[The Drunkard's Walk]</i> by Leonard Mlodinow

&nbsp;<u>52  Astronomy & allied sciences (2/9)</u>
&nbsp;&nbsp;520 Astronomy and allied sciences -- <i>[The Skywatcher's Handbook]</i>
&nbsp;&nbsp;521 Celestial mechanics
&nbsp;&nbsp;522 Techniques, equipment, materials
&nbsp;&nbsp;523 Specific celestial bodies & phenomena -- <i>[Meteorites, Ice, and Antarctica]</i> by William Cassidy
&nbsp;&nbsp;525 Earth (Astronomical geography)
&nbsp;&nbsp;526 Mathematical geography
&nbsp;&nbsp;527 Celestial navigation
&nbsp;&nbsp;528 Ephemerides
&nbsp;&nbsp;529 Chronology

&nbsp;<u>53  Physics (4/10)</u>
&nbsp;&nbsp;530 General works on physics -- <i>[Conceptual Physics]</i>
&nbsp;&nbsp;531 Classical mechanics; Solid mechanics
&nbsp;&nbsp;532 Fluid mechanics; Liquid mechanics
&nbsp;&nbsp;533 Gas mechanics
&nbsp;&nbsp;534 Sound & related vibrations
&nbsp;&nbsp;535 Light & paraphotic phenomena
&nbsp;&nbsp;536 Heat -- <i>[Einstein's Refrigerator]</i> by Gino Segre
&nbsp;&nbsp;537 Electricity & electronics -- <i>[Principles and applications of electromagnetic fields]</i>
&nbsp;&nbsp;538 Magnetism
&nbsp;&nbsp;539 Modern physics -- <i>[Madame Curie]</i> by Eve Curie

&nbsp;<u>54  Chemistry & allied sciences (2/10)</u>
&nbsp;&nbsp;540 General works on chemistry
&nbsp;&nbsp;541 Physical & theoretical chemistry
&nbsp;&nbsp;542 Techniques, equipment, materials
&nbsp;&nbsp;543 Analytical chemistry
&nbsp;&nbsp;544 Qualitative analysis
&nbsp;&nbsp;545 Quantitative analysis
&nbsp;&nbsp;546 Inorganic chemistry -- <i>[A World on Fire : a Heretic, an Aristocrat, and the Race to Discover Oxygen]</i> by Joe Jackson
&nbsp;&nbsp;547 Organic chemistry
&nbsp;&nbsp;548 Crystallography
&nbsp;&nbsp;549 Mineralogy -- <i>[Introduction to the rock forming minerals]</i>

&nbsp;<u>55  Earth sciences (5/10)</u>
&nbsp;&nbsp;550 General works on earth sciences -- <i>[The Mapping of Geological Structures]</i> by Ken McClay
&nbsp;&nbsp;551 Geology, hydrology, meteorology -- <i>[The Age of the Earth]</i> by G Dalyrymple
&nbsp;&nbsp;552 Petrology -- <i>[The Field Description of Igneous Rocks]</i>
&nbsp;&nbsp;553 Economic geology
&nbsp;&nbsp;554 Earth sciences of Europe
&nbsp;&nbsp;555 Earth sciences of Asia
&nbsp;&nbsp;556 Earth sciences of Africa
&nbsp;&nbsp;557 Earth sciences of North America -- <i>[Geology underfoot in Yosemite National Park]</i>
&nbsp;&nbsp;558 Earth sciences of South America
&nbsp;&nbsp;559 Earth sciences of other areas -- <i>[A field guide to the geology of the Yorke Peninsula]</i>

&nbsp;<u>56  Paleontology; Paleozoology (0/10)</u>
&nbsp;&nbsp;560 Paleontology and paleozoology
&nbsp;&nbsp;561 Paleobotany
&nbsp;&nbsp;562 Fossil invertebrates
&nbsp;&nbsp;563 Fossil primitive phyla
&nbsp;&nbsp;564 Fossil Mollusca & Molluscoidea
&nbsp;&nbsp;565 Other fossil invertebrates
&nbsp;&nbsp;566 Fossil Vertebrata (Fossil Craniata)
&nbsp;&nbsp;567 Fossil cold-blooded vertebrates
&nbsp;&nbsp;568 Fossil Aves (Fossil birds)
&nbsp;&nbsp;569 Fossil Mammalia

&nbsp;<u>57  Life sciences (3/9)</u>
&nbsp;&nbsp;570 General works on life sciences
&nbsp;&nbsp;571 Physiology
&nbsp;&nbsp;572 Biochemistry
&nbsp;&nbsp;573 Physiological systems of animals -- <i>[The Rise and Fall of the Third Chimpanzee]</i> by Jared Diamond
&nbsp;&nbsp;575 Physiological systems of plants
&nbsp;&nbsp;576 Genetics and evolution -- <i>[The Ancestor's Tale]</i> by Richard Dawkins
&nbsp;&nbsp;577 Ecology -- <i>[The Revenge of Gaia]</i> by James Lovelock
&nbsp;&nbsp;578 Natural history of organisms
&nbsp;&nbsp;579 Microorganisms, fungi, algae

&nbsp;<u>58  Plants (2/10)</u>
&nbsp;&nbsp;580 General works on plants
&nbsp;&nbsp;581 Botany
&nbsp;&nbsp;582 Plants noted for specific vegetative characteristics and flowers
&nbsp;&nbsp;583 Dicotyledones -- <i>[Gum trees in South Australia]</i>
&nbsp;&nbsp;584 Monocotyledones
&nbsp;&nbsp;585 Gymnospermae (Pinophyta) -- <i>[The Wild Trees]</i> by Richard Preston
&nbsp;&nbsp;586 Cryptogamia (Seedless plants)
&nbsp;&nbsp;587 Pteridophyta (Vascular cryptogams)
&nbsp;&nbsp;588 Bryophyta
&nbsp;&nbsp;589 Forestry

&nbsp;<u>59  Zoological sciences/Animals (1/10)</u>
&nbsp;&nbsp;590 General works on animals
&nbsp;&nbsp;591 Zoology -- <i>[Last Chance to See...]</i> by Douglas Adams
&nbsp;&nbsp;592 Invertebrates
&nbsp;&nbsp;593 Protozoa, Echinodermata, related phyla
&nbsp;&nbsp;594 Mollusca & Molluscoidea
&nbsp;&nbsp;595 Other invertebrates
&nbsp;&nbsp;596 Vertebrata (Craniata, Vertebrates)
&nbsp;&nbsp;597 Cold-blooded vertebrates, fish
&nbsp;&nbsp;598 Aves (Birds)
&nbsp;&nbsp;599 Mammalia (Mammals)

<b>6   Technology  (13/93)</b>

&nbsp;<u>60  Technology (Applied sciences) (1/10)</u>
&nbsp;&nbsp;600 Technology (Applied sciences)
&nbsp;&nbsp;601 Philosophy and theory
&nbsp;&nbsp;602 Miscellany
&nbsp;&nbsp;603 Dictionaries, encyclopedias, concordances
&nbsp;&nbsp;604 Technical drawing, hazardous materials technology, history and description with respect to kinds of persons
&nbsp;&nbsp;605 Serial publications
&nbsp;&nbsp;606 Organizations
&nbsp;&nbsp;607 Education, research, related topics
&nbsp;&nbsp;608 Invention and patents
&nbsp;&nbsp;609 Historical, geographic, persons treatment -- <i>[Seven Wonders of the Industrial World]</i> by Deborah Cadbury

&nbsp;<u>61  Medical sciences; Medicine (5/9)</u>
&nbsp;&nbsp;610 Medicine and health
&nbsp;&nbsp;611 Human anatomy, cytology, histology -- <i>[The Anatomist: A True Story of Gray's Anatomy]</i> by Bill Hayes
&nbsp;&nbsp;612 Human physiology -- <i>[The Brain That Changes Itself]</i> by Norman Doidge
&nbsp;&nbsp;613 Personal health and safety -- <i>[In Defense of Food: An Eater's Manifesto]</i> by Michael Pollan
&nbsp;&nbsp;614 Forensic medicine; incidence of injuries, wounds, disease; public preventive medicine
&nbsp;&nbsp;615 Pharmacology and therapeutics 
&nbsp;&nbsp;616 Diseases -- <i>[The Demon in the Freezer: A True Story]</i> by Richard Preston
&nbsp;&nbsp;617 Miscellaneous branches of medicine; surgery -- <i>[The Century of the Surgeon]</i> by Jurgen Thorwald
&nbsp;&nbsp;618 Other branches of medicine; gynecology and obstetrics

&nbsp;<u>62  Engineering and allied operations (5/9)</u>
&nbsp;&nbsp;620 Engineering and allied operations
&nbsp;&nbsp;621 Applied physics
&nbsp;&nbsp;622 Mining and related operations -- <i>[Don't Tell Mum I Work on the Rigs]</i> by Paul Carter
&nbsp;&nbsp;623 Military and nautical engineering -- <i>[The Making of the Atomic Bomb]</i> by Richard Rhodes
&nbsp;&nbsp;624 Civil engineering -- <i>[Structures: Or Why Things Don't Fall Down]</i> by J. E. Gordon
&nbsp;&nbsp;625 Engineering of railroads and roads -- <i>[Too Long in the Bush]</i> by Len Beadell
&nbsp;&nbsp;627 Hydraulic engineering
&nbsp;&nbsp;628 Sanitary and municipal engineering; Environmental protection engineering
&nbsp;&nbsp;629 Other branches of engineering -- <i>[Digital Apollo: Human and Machine in Spaceflight]</i> by David Mindell

&nbsp;<u>63  Agriculture (1/10)</u>
&nbsp;&nbsp;630 Agriculture and related technologies
&nbsp;&nbsp;631 Specific techniques, apparatus, equipment, materials
&nbsp;&nbsp;632 Plant injuries, diseases, pests
&nbsp;&nbsp;633 Field and plantation crops
&nbsp;&nbsp;634 Orchards, fruits, forestry
&nbsp;&nbsp;635 Garden crops (Horticulture) 
&nbsp;&nbsp;636 Animal husbandry -- <i>[Nim Chimpsky]</i> by Elizabeth Hess
&nbsp;&nbsp;637 Processing dairy and related products
&nbsp;&nbsp;638 Insect culture 
&nbsp;&nbsp;639 Hunting, fishing, conservation, related technologies

&nbsp;<u>64  Home economics & family living (1/10)</u>
&nbsp;&nbsp;640 Home and family management
&nbsp;&nbsp;641 Food and drink -- <i>[Animal, Vegetable, Miracle]</i> by Barbara Kingsolver
&nbsp;&nbsp;642 Meals and table service
&nbsp;&nbsp;643 Housing and household equipment 
&nbsp;&nbsp;644 Household utilities
&nbsp;&nbsp;645 Household furnishings 
&nbsp;&nbsp;646 Sewing, clothing, management of personal and family life 
&nbsp;&nbsp;647 Management of public households
&nbsp;&nbsp;648 Housekeeping
&nbsp;&nbsp;649 Child rearing; home care of persons with disabilities and illnesses

&nbsp;<u>65  Management and auxiliary services (0/7)</u>
&nbsp;&nbsp;650 Management and auxiliary services
&nbsp;&nbsp;651 Office services
&nbsp;&nbsp;652 Processes of written communication
&nbsp;&nbsp;653 Shorthand
&nbsp;&nbsp;657 Accounting
&nbsp;&nbsp;658 General management 
&nbsp;&nbsp;659 Advertising and public relations

&nbsp;<u>66  Chemical engineering  (0/10)</u>
&nbsp;&nbsp;660 Chemical engineering and related technologies
&nbsp;&nbsp;661 Technology of industrial chemicals
&nbsp;&nbsp;662 Technology of explosives, fuels, related products
&nbsp;&nbsp;663 Beverage technology
&nbsp;&nbsp;664 Food technology
&nbsp;&nbsp;665 Technology of industrial oils, fats, waxes, gases
&nbsp;&nbsp;666 Ceramic and allied technologies
&nbsp;&nbsp;667 Cleaning, color, coating, related technologies 
&nbsp;&nbsp;668 Technology of other organic products
&nbsp;&nbsp;669 Metallurgy

&nbsp;<u>67  Manufacturing (0/10)</u>
&nbsp;&nbsp;670 Manufacturing 
&nbsp;&nbsp;671 Metalworking and primary metal products
&nbsp;&nbsp;672 Iron, steel, other iron alloys
&nbsp;&nbsp;673 Nonferrous metals
&nbsp;&nbsp;674 Lumber processing, wood products, cork
&nbsp;&nbsp;675 Leather and fur processing
&nbsp;&nbsp;676 Pulp and paper technology
&nbsp;&nbsp;677 Textiles
&nbsp;&nbsp;678 Elastomers & elastomer products
&nbsp;&nbsp;679 Other products of specific kinds of materials

&nbsp;<u>68  Manufacture for specific uses (0/9)</u>
&nbsp;&nbsp;680 Manufacture of products for specific uses
&nbsp;&nbsp;681 Precision instruments and other devices
&nbsp;&nbsp;682 Small forge work (Blacksmithing)
&nbsp;&nbsp;683 Hardware and household appliances
&nbsp;&nbsp;684 Furnishings and home workshops
&nbsp;&nbsp;685 Leather and fur goods, related products
&nbsp;&nbsp;686 Printing and related activities 
&nbsp;&nbsp;687 Clothing and accessories
&nbsp;&nbsp;688 Other final products and packaging technology

&nbsp;<u>69  Buildings  (0/9)</u>
&nbsp;&nbsp;690 Buildings
&nbsp;&nbsp;691 Building materials
&nbsp;&nbsp;692 Auxiliary construction practices
&nbsp;&nbsp;693 Construction in specific types of materials and for specific purposes
&nbsp;&nbsp;694 Wood construction; Carpentry
&nbsp;&nbsp;695 Roof covering
&nbsp;&nbsp;696 Utilities 
&nbsp;&nbsp;697 Heating, ventilating, air-conditioning engineering
&nbsp;&nbsp;698 Detail finishing

<b>7   Arts (3/94)</b>

&nbsp;<u>70  Arts  (0/10)</u>
&nbsp;&nbsp;700 The Arts; fine and decorative arts
&nbsp;&nbsp;701 Philosophy and theory of fine and decorative arts
&nbsp;&nbsp;702 Miscellany of fine and decorative arts 
&nbsp;&nbsp;703 Dictionaries, encyclopedias, concordances of fine and decorative arts
&nbsp;&nbsp;704 Special topics in fine and decorative arts
&nbsp;&nbsp;705 Serial publications of fine and decorative arts
&nbsp;&nbsp;706 Organizations and management of fine and decorative arts
&nbsp;&nbsp;707 Education, research, related topics of fine and decorative arts
&nbsp;&nbsp;708 Galleries, museums, private collections of fine and decorative arts
&nbsp;&nbsp;709 Historical, areas, persons treatment of fine and decorative arts 

&nbsp;<u>71  Civic & landscape art  (0/10)</u>
&nbsp;&nbsp;710 Civic and landscape art
&nbsp;&nbsp;711 Area planning (Civic art)
&nbsp;&nbsp;712 Landscape architecture and design 
&nbsp;&nbsp;713 Landscape architecture of trafficways
&nbsp;&nbsp;714 Water features in landscape architecture
&nbsp;&nbsp;715 Woody plants in landscape architecture
&nbsp;&nbsp;716 Herbaceous plants in landscape architecture
&nbsp;&nbsp;717 Structures in landscape architecture
&nbsp;&nbsp;718 Landscape design of cemeteries
&nbsp;&nbsp;719 Natural landscapes 

&nbsp;<u>72  Architecture  (0/10)</u>
&nbsp;&nbsp;720 Architecture
&nbsp;&nbsp;721 Architectural structure
&nbsp;&nbsp;722 Architecture from earliest times to ca. 300
&nbsp;&nbsp;723 Architecture from ca. 300 to 1399
&nbsp;&nbsp;724 Architecture from 1400
&nbsp;&nbsp;725 Public structures
&nbsp;&nbsp;726 Buildings for religious and related purposes
&nbsp;&nbsp;727 Buildings for education and research purposes 
&nbsp;&nbsp;728 Residential and related buildings
&nbsp;&nbsp;729 Design and decoration of structures and accessories

&nbsp;<u>73  Plastic arts; Sculpture (0/10)</u>
&nbsp;&nbsp;730 Plastic arts and sculpture 
&nbsp;&nbsp;731 Processes, forms, subjects of sculpture
&nbsp;&nbsp;732 Sculpture from earliest times to ca. 500; sculpture of nonliterate peoples
&nbsp;&nbsp;733 Greek, Etruscan, Roman sculpture
&nbsp;&nbsp;734 Sculpture from ca. 500 to 1399
&nbsp;&nbsp;735 Sculpture from 1400 
&nbsp;&nbsp;736 Carving and carvings
&nbsp;&nbsp;737 Numismatics and sigillography
&nbsp;&nbsp;738 Ceramic arts 
&nbsp;&nbsp;739 Art metalwork

&nbsp;<u>74  Drawing and decorative arts  (1/9)</u>
&nbsp;&nbsp;740 Drawing and decorative arts 
&nbsp;&nbsp;741 Drawing and drawings -- <i>[The Authoritative Calvin and Hobbes]</i> by Bill Watterson
&nbsp;&nbsp;742 Perspective in drawing
&nbsp;&nbsp;743 Drawing and drawings by subject
&nbsp;&nbsp;745 Decorative arts
&nbsp;&nbsp;746 Textile arts
&nbsp;&nbsp;747 Interior decoration 
&nbsp;&nbsp;748 Glass
&nbsp;&nbsp;749 Furniture and accessories

&nbsp;<u>75  Painting and paintings (1/9)</u>
&nbsp;&nbsp;750 Painting and paintings
&nbsp;&nbsp;751 Techniques, procedures, apparatus, equipment, materials, forms
&nbsp;&nbsp;752 Color
&nbsp;&nbsp;753 Symbolism, allegory, mythology, legend
&nbsp;&nbsp;754 Genre paintings
&nbsp;&nbsp;755 Religion and religious symbolism 
&nbsp;&nbsp;757 Human figures
&nbsp;&nbsp;758 Other subjects
&nbsp;&nbsp;759 Geographical, historical, areas, persons treatment -- <i>[The Dawn of Time]</i> by <i>[<i>[Charles P Mountford]</i>]</i>

&nbsp;<u>76  Graphic arts; Printmaking and prints  (0/8)</u>
&nbsp;&nbsp;760 Graphic arts; Printmaking and prints
&nbsp;&nbsp;761 Relief processes (Block printing)
&nbsp;&nbsp;763 Lithographic (Planographic) processes
&nbsp;&nbsp;764 Chromolithography and serigraphy
&nbsp;&nbsp;765 Metal engraving
&nbsp;&nbsp;766 Mezzotinting, aquatinting, and related processes
&nbsp;&nbsp;767 Etching and drypoint
&nbsp;&nbsp;769 Prints

&nbsp;<u>77  Photography & photographs (0/9)</u>
&nbsp;&nbsp;770 Photography, photographs, and computer art 
&nbsp;&nbsp;771 Techniques, procedures, apparatus, equipment, materials
&nbsp;&nbsp;772 Metallic salt processes
&nbsp;&nbsp;773 Pigment processes of printing
&nbsp;&nbsp;774 Holography
&nbsp;&nbsp;775 Digital photography
&nbsp;&nbsp;776 Computer art
&nbsp;&nbsp;778 Special fields and special kinds of photography; cinematography and related activities
&nbsp;&nbsp;779 Photographs

&nbsp;<u>78  Music (0/9)</u>
&nbsp;&nbsp;780 Music
&nbsp;&nbsp;781 General principles and musical forms 
&nbsp;&nbsp;782 Vocal music 
&nbsp;&nbsp;783 Music for single voices; The voice
&nbsp;&nbsp;784 Instruments and instrumental ensembles and their music
&nbsp;&nbsp;785 Ensembles with only one instrument per part
&nbsp;&nbsp;786 Keyboard, mechanical, electrophonic, percussion instruments
&nbsp;&nbsp;787 Regular and bowed stringed instruments (Chordophones) 
&nbsp;&nbsp;788 Wind instruments (Aerophones) 

&nbsp;<u>79  Recreational and performing arts (1/10)</u>
&nbsp;&nbsp;790 Recreational and performing arts
&nbsp;&nbsp;791 Public performances 
&nbsp;&nbsp;792 Stage presentations 
&nbsp;&nbsp;793 Indoor games and amusements 
&nbsp;&nbsp;794 Indoor games of skill 
&nbsp;&nbsp;795 Games of chance
&nbsp;&nbsp;796 Athletic and outdoor sports and games -- <i>[Clarrie Grimmett: The Bradman of Spin]</i> by Ashley Mallett
&nbsp;&nbsp;797 Aquatic and air sports
&nbsp;&nbsp;798 Equestrian sports and animal racing
&nbsp;&nbsp;799 Fishing, hunting, shooting

<b>8   Literature  (19/99)</b>

&nbsp;<u>80  Literature, rhetoric & criticism  (1/10)</u>
&nbsp;&nbsp;800 Literature, rhetoric & criticism 
&nbsp;&nbsp;800 Literature & rhetoric
&nbsp;&nbsp;801 Philosophy and theory 
&nbsp;&nbsp;802 Miscellany
&nbsp;&nbsp;803 Dictionaries, encyclopedias, concordances
&nbsp;&nbsp;805 Serial publications
&nbsp;&nbsp;806 Organizations and management
&nbsp;&nbsp;807 Education, research, related topics
&nbsp;&nbsp;808 Rhetoric and collections of literary texts from more than two literatures  -- <i>[The Salmon of Doubt]</i> by Douglas Adams
&nbsp;&nbsp;809 History, description, critical appraisal of more than two literatures 

&nbsp;<u>81  American literature in English  (3/9)</u>
&nbsp;&nbsp;810 American literature in English 
&nbsp;&nbsp;811 American poetry in English -- <i>[Leaves of Grass and Selected Prose]</i> by Walt Whitman
&nbsp;&nbsp;812 American drama in English 
&nbsp;&nbsp;813 American fiction in English -- [The Contract Surgeon] by Dan O'Brien (added 5 May 2013)
&nbsp;&nbsp;814 American essays in English 
&nbsp;&nbsp;815 American speeches in English
&nbsp;&nbsp;816 American letters in English 
&nbsp;&nbsp;817 American humor and satire in English
&nbsp;&nbsp;818 American miscellaneous writings in English -- <i>[A Year in Thoreau's Journal: 1851]</i> by Henry David Thoreau

&nbsp;<u>82  English and Old English literatures (7/10)</u>
&nbsp;&nbsp;820 English and Old English literatures -- <i>[Reading Lolita in Tehran : A Memoir in Books]</i> by Azar Nafisi
&nbsp;&nbsp;821 English poetry -- <i>[Selected poems]</i> by John Donne
&nbsp;&nbsp;822 English drama -- <i>[The Merchant of Venice]</i> by <i>[<i>[William Shakespeare]</i>]</i>
&nbsp;&nbsp;823 English fiction -- [Scaramouche] by Rafael Sabatini (added 28 Apr 2013)
&nbsp;&nbsp;824 English essays -- <i>[Inside the Whale and Other Essays]</i> by George Orwell
&nbsp;&nbsp;825 English speeches
&nbsp;&nbsp;826 English letters
&nbsp;&nbsp;827 English humor and satire -- <i>[Gulliver's Travels and Other Writings]</i> by Jonathan Swift
&nbsp;&nbsp;828 English miscellaneous writings -- <i>[I can jump puddles]</i> by Alan Marshall
&nbsp;&nbsp;829 Old English (Anglo-Saxon) literature 

&nbsp;<u>83  German and related literatures  (1/10)</u>
&nbsp;&nbsp;830 Literatures of Germanic languages
&nbsp;&nbsp;831 German poetry
&nbsp;&nbsp;832 German drama
&nbsp;&nbsp;833 German fiction -- <i>[The Swiss Family Robinson]</i> by Johann Wyss
&nbsp;&nbsp;834 German essays
&nbsp;&nbsp;835 German speeches
&nbsp;&nbsp;836 German letters
&nbsp;&nbsp;837 German humor and satire
&nbsp;&nbsp;838 German miscellaneous writings 
&nbsp;&nbsp;839 Other Germanic literatures

&nbsp;<u>84  Literatures of Romance languages (2/10)</u>
&nbsp;&nbsp;840 Literatures of Romance languages
&nbsp;&nbsp;841 French poetry 
&nbsp;&nbsp;842 French drama -- <i>[Waiting for Godot]</i> by Samuel Beckett
&nbsp;&nbsp;843 French fiction -- <i>[Memoirs of Hadrian]</i> by Marguerite Yourcenar
&nbsp;&nbsp;844 French essays
&nbsp;&nbsp;845 French speeches
&nbsp;&nbsp;846 French letters
&nbsp;&nbsp;847 French humor and satire
&nbsp;&nbsp;848 French miscellaneous writings
&nbsp;&nbsp;849 Occitan, Catalan, Franco-Provencal literatures

&nbsp;<u>85  Italian, Romanian, Rhaeto-Romanic  (1/10)</u>
&nbsp;&nbsp;850 Literatures of Italian, Sardinian, Dalmatian, Romanian, Rhaeto-Romanic languages
&nbsp;&nbsp;851 Italian poetry 
&nbsp;&nbsp;852 Italian drama
&nbsp;&nbsp;853 Italian fiction -- <i>[The Name of the Rose]</i> by Umberto Eco
&nbsp;&nbsp;854 Italian essays
&nbsp;&nbsp;855 Italian speeches
&nbsp;&nbsp;856 Italian letters
&nbsp;&nbsp;857 Italian humor and satire
&nbsp;&nbsp;858 Italian miscellaneous writings
&nbsp;&nbsp;859 Romanian and Rhaeto-Romanic literatures

&nbsp;<u>86  Spanish and Portuguese literatures  (0/10)</u>
&nbsp;&nbsp;860 Literatures of Spanish and Portuguese languages
&nbsp;&nbsp;861 Spanish poetry
&nbsp;&nbsp;862 Spanish drama
&nbsp;&nbsp;863 Spanish fiction
&nbsp;&nbsp;864 Spanish essays
&nbsp;&nbsp;865 Spanish speeches
&nbsp;&nbsp;866 Spanish letters
&nbsp;&nbsp;867 Spanish humor and satire
&nbsp;&nbsp;868 Spanish miscellaneous writings 
&nbsp;&nbsp;869 Portuguese literature 

&nbsp;<u>87  Italic literatures; Latin literature (1/10)</u>
&nbsp;&nbsp;870 Literatures of Italic and Latin languages 
&nbsp;&nbsp;871 Latin poetry
&nbsp;&nbsp;872 Latin dramatic poetry and drama
&nbsp;&nbsp;873 Latin epic poetry and fiction -- <i>[The Golden Ass]</i> by Lucius Apuleius
&nbsp;&nbsp;874 Latin lyric poetry
&nbsp;&nbsp;875 Latin speeches
&nbsp;&nbsp;876 Latin letters
&nbsp;&nbsp;877 Latin humor and satire
&nbsp;&nbsp;878 Latin miscellaneous writings
&nbsp;&nbsp;879 Literatures of other Italic languages

&nbsp;<u>88  Hellenic literatures; Classical Greek  (2/10)</u>
&nbsp;&nbsp;880 Literatures of Hellenic and Classical Greek languages
&nbsp;&nbsp;881 Classical Greek poetry
&nbsp;&nbsp;882 Classical Greek dramatic poetry and drama
&nbsp;&nbsp;883 Classical Greek epic poetry and fiction -- <i>[The Odyssey: Revised Prose Translation]</i> by Homer
&nbsp;&nbsp;884 Classical Greek lyric poetry
&nbsp;&nbsp;885 Classical Greek speeches
&nbsp;&nbsp;886 Classical Greek letters
&nbsp;&nbsp;887 Classical Greek humor and satire
&nbsp;&nbsp;888 Classical Greek miscellaneous writings
&nbsp;&nbsp;889 Modern Greek literature -- <i>[Zorba the Greek]</i> by Nikos Kazantzakes

&nbsp;<u>89  Literatures of other languages (1/10)</u>
&nbsp;&nbsp;890 Literatures of other specific languages and language families
&nbsp;&nbsp;891 East Indo-European & Celtic literatures -- <i>[War and Peace]</i> by Leo Tolstoy
&nbsp;&nbsp;892 Afro-Asiatic and Semitic literatures 
&nbsp;&nbsp;893 Non-Semitic Afro-Asiatic literatures
&nbsp;&nbsp;894 Altaic, Uralic, Hyperborean, Dravidian literatures
&nbsp;&nbsp;895 Literatures of East and Southeast Asia; Sino-Tibetan literatures
&nbsp;&nbsp;896 African literatures
&nbsp;&nbsp;897 Literatures of North American native languages
&nbsp;&nbsp;898 Literatures of South American native languages
&nbsp;&nbsp;899 Literatures of non-Austronesian languages of Oceania, of Austronesian languages, or miscellaneous languages

<b>9   History, geography & biography (21/98)</b>

&nbsp;<u>90  History (4/10)</u>
&nbsp;&nbsp;900 History, geography, and auxiliary disciplines -- <i>[Dancing With Strangers]</i> by Inga Clendinnen
&nbsp;&nbsp;901 Philosophy and theory of history -- <i>[What Is History?]</i> by Edward Hallet Carr
&nbsp;&nbsp;902 Miscellany of history
&nbsp;&nbsp;903 Dictionaries, encyclopedias, concordances of history
&nbsp;&nbsp;904 Collected accounts of events -- <i>[Quest for adventure]</i> by Chris Bonington
&nbsp;&nbsp;905 Serial publications of history
&nbsp;&nbsp;906 Organizations and management of history
&nbsp;&nbsp;907 Education, research, related topics of history
&nbsp;&nbsp;908 History with respect to kinds of persons
&nbsp;&nbsp;909 World history -- <i>[The Giant Book Of The 20th Century]</i> by Jon E. Lewis

&nbsp;<u>91  Geography & travel  (5/10)</u>
&nbsp;&nbsp;910 Geography and travel -- <i>["Gypsy Moth" Circles the World]</i> by Sir Francis Chichester
&nbsp;&nbsp;911 Historical geography
&nbsp;&nbsp;912 Graphic representations of surface of earth and of extraterrestrial worlds -- <i>[Penguin Atlas of Ancient History]</i> by Colin McEvedy 
&nbsp;&nbsp;913 Geography of and travel in the ancient world
&nbsp;&nbsp;914 Geography of and travel in Europe -- <i>[Flowering of the Renaissance]</i> by Vincent Cronin
&nbsp;&nbsp;915 Geography of and travel in Asia 
&nbsp;&nbsp;916 Geography of and travel in Africa
&nbsp;&nbsp;917 Geography of and travel in North America -- <i>[The Maine Woods]</i> by Henry David Thoreau
&nbsp;&nbsp;918 Geography of and travel in South America
&nbsp;&nbsp;919 Geography of and travel in other parts of the world (including Pacific Ocean Islands) and of extraterrestrial words -- <i>[West of Centre: A Journey of Discovery into the Heartland of Australia]</i> by Ray Ericksen

&nbsp;<u>92  Biography, genealogy, insignia  (1/10)</u>
&nbsp;&nbsp;920 Biography, genealogy, insignia -- <i>[The Girl in the Picture]</i> by Denise Chong
&nbsp;&nbsp;921 Philosophy
&nbsp;&nbsp;922 Theology
&nbsp;&nbsp;923 Sociology
&nbsp;&nbsp;924 Philology
&nbsp;&nbsp;925 Science
&nbsp;&nbsp;926 Useful arts
&nbsp;&nbsp;927 Fine arts
&nbsp;&nbsp;928 Literature
&nbsp;&nbsp;929 Genealogy, names, insignia

&nbsp;<u>93  History of ancient world (to ca 499) (0/10)</u>
&nbsp;&nbsp;930 History of the ancient world to ca. 499
&nbsp;&nbsp;931 History of China to 420
&nbsp;&nbsp;932 History of Egypt to 640 
&nbsp;&nbsp;933 History of Palestine to 70 
&nbsp;&nbsp;934 History of India to 647
&nbsp;&nbsp;935 History of Mesopotamia & Iranian Plateau to 637
&nbsp;&nbsp;936 History of Europe north & west of Italian Peninsula to ca. 499
&nbsp;&nbsp;937 History of Italian Peninsula and adjacent territories to 476 
&nbsp;&nbsp;938 History of Greece to 323 
&nbsp;&nbsp;939 History of other parts of ancient world to ca. 640

&nbsp;<u>94  General history of Europe  (4/10)</u>
&nbsp;&nbsp;940 History of Europe and Western Europe (as a whole) -- <i>[Europe from the Renaissance to Wateroo]</i> by Robert Ergang
&nbsp;&nbsp;941 History of British Isles 
&nbsp;&nbsp;942 History of England and Wales 
&nbsp;&nbsp;943 History of Central Europe - Germany
&nbsp;&nbsp;944 History of Europe - France and Monaco -- <i>[Citizens: A Chronicle of the French Revolution]</i> by Simon Schama
&nbsp;&nbsp;945 History of Italy, Italian Peninsula, and adjacent islands -- <i>[The Sicilian Vespers]</i> by Steven Runciman
&nbsp;&nbsp;946 History of Spain, Iberian Peninsula, and adjacent islands 
&nbsp;&nbsp;947 History of Eastern Europe - Russia -- <i>[The Russian Revolution]</i> by Alan Moorehead
&nbsp;&nbsp;948 History of Scandinavia
&nbsp;&nbsp;949 History of other parts of Europe 

&nbsp;<u>95  General history of Asia; Far East (2/10)</u>
&nbsp;&nbsp;950 History of Asia, the Orient, and the Far East 
&nbsp;&nbsp;951 History of China and adjacent areas -- <i>[Seven Years in Tibet]</i> by Heinrich Harrer
&nbsp;&nbsp;952 History of Japan 
&nbsp;&nbsp;953 History of the Arabian Peninsula and adjacent areas
&nbsp;&nbsp;954 History of South Asia and India 
&nbsp;&nbsp;955 History of Iran
&nbsp;&nbsp;956 History of the Middle East (Near East)
&nbsp;&nbsp;957 History of Siberia (Asiatic Russia)
&nbsp;&nbsp;958 History of Central Asia -- <i>[Over the Edge: The True Story of Four American Climbers' Kidnap and Escape in the Mountains of Central Asia]</i> by Greg Child
&nbsp;&nbsp;959 History of Southeast Asia

&nbsp;<u>96  General history of Africa  (0/10)</u>
&nbsp;&nbsp;960 History of Africa (as a whole)
&nbsp;&nbsp;961 History of Tunisia and Libya
&nbsp;&nbsp;962 History of Egypt and Sudan
&nbsp;&nbsp;963 History of Ethiopia and Eritrea
&nbsp;&nbsp;964 History of Northwest African coast, Morocco, and Canary Islands
&nbsp;&nbsp;965 History of Algeria
&nbsp;&nbsp;966 History of West Africa and offshore islands
&nbsp;&nbsp;967 History of Central Africa and offshore islands 
&nbsp;&nbsp;968 History of Southern Africa, and the Republic of South Africa
&nbsp;&nbsp;969 History of the South Indian Ocean islands

&nbsp;<u>97  General history of North America  (2/10)</u>
&nbsp;&nbsp;970 History of North America
&nbsp;&nbsp;971 History of Canada
&nbsp;&nbsp;972 History of Middle America and Mexico 
&nbsp;&nbsp;973 History of the United States -- <i>[The Boys of My Youth]</i> by Jo Ann Beard
&nbsp;&nbsp;974 History of the Northeastern United States 
&nbsp;&nbsp;975 History of the Southeastern United States
&nbsp;&nbsp;976 History of South central United States and Gulf Coast states
&nbsp;&nbsp;977 History of North central United States and Lake states
&nbsp;&nbsp;978 History of the Western United States -- <i>[Bury My Heart at Wounded Knee: Indian History of the American West]</i> by Dee Brown
&nbsp;&nbsp;979 History of the Pacific Coast states, and the Great Basin & Pacific Slope regions of the United States

&nbsp;<u>98  General history of South America  (1/10)</u>
&nbsp;&nbsp;980 History of South America
&nbsp;&nbsp;981 History of Brazil 
&nbsp;&nbsp;982 History of Argentina -- <i>[Alive: The Story of the Andes Survivors]</i> by Piers Paul Read
&nbsp;&nbsp;983 History of Chile
&nbsp;&nbsp;984 History of Bolivia
&nbsp;&nbsp;985 History of Peru 
&nbsp;&nbsp;986 History of Colombia and Ecuador
&nbsp;&nbsp;987 History of Venezuela
&nbsp;&nbsp;988 History of Guiana
&nbsp;&nbsp;989 History of Paraguay and Uruguay

&nbsp;<u>99  General history of other areas (2/8)</u>
&nbsp;&nbsp;990 History of the Pacific Ocean Island, other parts of the world, and extraterrestrial worlds
&nbsp;&nbsp;993 History of New Zealand -- <i>[New Zealand, a short history]</i> by John Cawte Beaglehole
&nbsp;&nbsp;994 History of Australia -- <i>[The explorers]</i> by William Joy
&nbsp;&nbsp;995 History of Melanesia and New Guinea
&nbsp;&nbsp;996 History of Polynesia and other parts of the Pacific
&nbsp;&nbsp;997 History of Atlantic Ocean islands
&nbsp;&nbsp;998 History of Arctic islands and Antarctica
&nbsp;&nbsp;999 History of extraterrestrial worlds 

